<head>
    <script src="https://kit.fontawesome.com/35c4f0c859.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&family=Sofia+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <!-- <style>* </style> -->
</head>

<body>
    <section>
        <h2 class="title">Log-in / Sign up Page</h2>
        <form action="/home-page" method="get">
            <label for="username">username or email</label>
            <input type="text">
            <label for="password">password</label>
            <input type="text">
            <button class="#"  >login</button>
            
            <div>
                <a href="#" target="_blank" rel="noopener">forgot password</a>
                <span>/</span>
                <a href="#" target="_blank" rel="noopener">sign up</a>
            </div>

        </form>
    </section>



</body>